$hamburger-layer-width: 20px
$hamburger-layer-height: 3px
$hamburger-layer-color: white
$hamburger-padding-x: 0
$hamburger-padding-y: 0

$main-color: #cd2653

@import "~hamburgers/_sass/hamburgers/hamburgers"

@mixin spinner($width: 18px, $height: 18px)
	width: $width
	height: $height
	border: solid 2px transparent
	border-top-color: $main-color
	border-left-color: $main-color
	border-radius: 50%
	animation: spinner-animation .4s linear infinite

body,
html
	height: 100%

#___gatsby
	min-height: 100%

#gatsby-focus-wrapper
	display: flex
	flex-direction: column
	min-height: 100%
	position: absolute
	width: 100%

	main
		padding-bottom: 2rem

	footer
		margin-top: auto
		padding: 1rem 0
		border-top: 1px #dadada solid
		font-size: 14px
		background: white

body
	margin: 0
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	background: #ececec
	color: hsla(0, 0%, 0%, 0.8)
	font-family: 'Noto Sans TC', Arial, georgia, serif
	font-size: 18px

*
	box-sizing: border-box

header
	text-align: center
	position: sticky
	-webkit-position: sticky
	top: 0
	z-index: 10
	height: 80px
	background: #2c2c2c

	@media screen and (max-width: 479px)
		height: 48px
		line-height: 48px

		> div
			padding: 0 !important

	h1
		font-size: 24px
		font-weight: 400

		span
			font-size: 14px

.menu
	position: fixed
	top: 48px
	height: calc(100% - 48px)
	width: 100%
	background: white
	left: 0
	display: none

	a
		color: $main-color
		font-size: 21px
		text-decoration: none

	@media screen and (max-width: 479px)
		padding-top: 1rem
		overflow-y: auto

	@media screen and (min-width: 480px)
		top: 80px

		ul
			height: calc(100% - 80px)
			display: flex
			flex-direction: column
			justify-content: space-evenly

			a
				font-size: 26px

	&.is-active
		display: block

	ul
		list-style: none
		margin: 0
		padding: 0

.hamburger
	display: inline-flex

.menu-wrapper
	margin: 0 auto
	width: 960px
	max-width: 90%
	display: flex
	justify-content: space-between
	align-items: center
	height: 100%

.grid-home
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	gap: 30px

	@media screen and (max-width: 979px)
		grid-template-columns: 1fr 1fr

	@media screen and (max-width: 479px)
		grid-template-columns: 1fr

	.grid-item
		box-shadow: 0 5px 15px 5px rgb(0 0 0 / 5%)
		border-radius: 6px
		text-align: center
		overflow: hidden
		cursor: pointer
		background: white
		text-decoration: none
		color: black

	.grid-item-content
		a
			display: block
			font-size: 16px
			text-decoration: none
			color: black
			border: 2px black solid
			width: 100px
			margin: 6px auto
			border-radius: 30px
			padding: 2px 6px

		p:first-child
			font-size: 24px
			margin: 10px 0 0

		p:last-child
			font-family: Noto Serif TC

	.grid-item__image
		clip-path: circle(2400px at 50% calc(100% - 2400px))
		position: relative

		&::before
			content: ""
			padding-bottom: 57%
			display: block

		div[data-gatsby-image-wrapper]
			position: absolute !important
			width: 100%
			height: 100%
			left: 0
			top: 0

	@media screen and (min-width: 980px)
		.grid-item:nth-child(1),
		.grid-item:nth-child(4),
		.grid-item:nth-child(7)
			.grid-item__image
				clip-path: circle(2400px at calc(150% + 30px) calc(100% - 2400px))

		.grid-item:nth-child(3),
		.grid-item:nth-child(6),
		.grid-item:nth-child(9)
			.grid-item__image
				clip-path: circle(2400px at calc(-50% + -30px) calc(100% - 2400px))

body.timeline

	header
		margin-bottom: 0 !important

	.main
		padding-top: 0 !important

.yt-container
	width: 560px
	max-width: 100%
	margin: 0 auto
	text-align: center
	display: flex
	justify-content: center
	align-items: center

	&::before
		content: ""
		padding-bottom: 56.25%

	&::after
		content: ""
		position: absolute
		z-index: -1
		@include spinner

	iframe
		max-width: 100%

.poem-container
	width: 600px
	max-width: 100%
	margin: 0 auto
	text-align: center
	padding: 1rem 2rem 2rem
	background: white
	box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.05)
	border-radius: 5px

	.poem
		span
			color: red

	&.aofeng
		.desc
			font-family: Noto Serif TC

	@media screen and (max-width: 479px)
		padding: 1rem 1rem 2rem

	&:not(:first-child)
		margin-top: 2rem

	.title
		font-size: 24px

		span
			font-size: 18px
			font-family: Noto Serif TC

	.desc
		text-align: left
		font-size: 14px

		span
			font-size: 18px
			display: block
			text-align: center
			margin-bottom: 8px

.image-container
	max-width: 100%
	width: 500px
	margin: 20px auto
	display: flex
	flex-direction: column
	text-align: center

	span
		font-family: Noto Serif TC
		margin-top: 8px

.article
	h2
		background: #cd2653
		color: white
		padding: 10px 8px
		display: table

@media screen and (min-width: 980px)
	.image-right
		display: flex

		.image-container
			min-width: 400px
			margin-left: 1rem

.slick-prev::before, .slick-next::before
	color: #325346 !important

@media screen and (max-width: 979px)
	.slick-prev
		left: 0px !important

	.slick-next
		right: 0px !important

@keyframes spinner-animation
	0%
		transform: rotate(0)
	100%
		transform: rotate(360deg)

.tea-wrapper
	display: grid
	grid-template-columns: 1fr 1fr
	grid-gap: 1rem
	margin-top: 3rem

	@media screen and (max-width: 979px)
		grid-template-columns: 1fr

	.tea
		background: white
		border-radius: 8px
		overflow: hidden
		box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.05)

		> .title
			color: white
			padding: 1rem
			text-align: center
			font-size: 24px

		> .content
			padding: 1rem
			text-align: center

			.desc
				p:not(:first-child)
					font-weight: bold

			.title
				font-size: 21px

		&:nth-child(1)
			> .title
				background: #90ca90

		&:nth-child(2)
			> .title
				background: #ca8553

		&:nth-child(3)
			> .title
				background: #b95711

		&:nth-child(4)
			> .title
				background: #4b9b34

.page-title
	font-size: 31px
	text-align: center

	span
		font-size: 21px
		display: block

iframe
	border: 0

.back
	display: table
	margin: 1rem auto
	background: $main-color
	color: white
	text-decoration: none
	padding: 8px 16px

footer
	text-align: center

	a
		color: #663399
		text-decoration: none
		font-weight: bold

	span
		font-size: 11px
		display: block
		margin-top: 5px
		color: #959595
